openai
python-dotenv
bcrypt
Flask-Session
requests
numpy
pillow
tensorflow
protobuf
tqdm
gfpgan
Flask
werkzeug
pyttsx3
gTTS
schedule
markdown
pygments
beautifulsoup4
streamlit
langchain
duckduckgo-search
anthropic
trubrics
streamlit-feedback
langchain-community
